<h2 id="context">Context</h2>

<p>You have applied the <a href="microservices.md">Microservices pattern</a> and architected your system as a set of services.
Each service is deployed as a set of service instances for throughput and availability.</p>

<h2 id="problem">Problem</h2>

<p>How are service instances packaged and deployed?</p>

<h2 id="forces">Forces</h2>

<ul>
  <li>Services are written using a variety of languages, frameworks, and framework versions</li>
  <li>Each service consists of multiple service instances for throughput and availability</li>
  <li>Service must be independently deployable and scalable</li>
  <li>Service instances need to be isolated from one another</li>
  <li>You need to be able to quickly build and deploy a service</li>
  <li>You need to be able to constrain the resources (CPU and memory) consumed by a service</li>
  <li>You need to monitor the behavior of each service instance</li>
  <li>You must deploy the application as cost-effectively as possible</li>
</ul>

