<ul>
<li>There is a team of developers working on the application</li>

<li>New team members must quickly become productive</li>

<li>The application must be easy to understand and modify</li>

<li>You want to practice continuous deployment of the application</li>

<li>You must run multiple copies of the application on multiple machines in order to satisfy scalability and availability requirements</li>

<li>You want to take advantage of emerging technologies (frameworks, programming languages, etc)</li>
</ul>