<p>Today, there are several trends that are forcing application architectures to evolve.
Users expect a rich, interactive and dynamic user experience on a wide variety of clients including mobile devices.
Applications must be highly scalable, highly available and run on cloud environments.
Organizations often want to frequently roll out updates, even multiple times a day.
Consequently, it’s no longer adequate to develop simple, monolithic web applications that serve up HTML to desktop browsers.</p>

<p>This site describes a new, alternative architecture: microservices.
Applications with a microservice architecture consist of a set of narrowly focused, independently deployable services.
Read on to find out more about this approach and its associated trade-offs.
A good starting point is the <a href="/patterns/monolithic.html">Monolithic Architecture pattern</a>.</p>

<h3 id="example-application">Example application</h3>

<p>Want to see an example? Check out <a href="microservices/news/2015/01/15/example-microservice-app.html">Chris Richardson’s example code</a></p>

<h3 id="got-questions-need-training">Got questions? Need training?</h3>

<p>We do presentations, consulting and training.
Please <a href="https://chrisrichardson.wufoo.com/forms/zgp4xr60erb04x/">contact me</a>.</p>
