<ul>
  <li><a href="/patterns/monolithic.html">Monolithic architecture</a></li>
  <li><a href="/patterns/microservices.html">Microservices architecture</a></li>
  <li><a href="/patterns/apigateway.html">API gateway</a></li>
  <li><a href="/patterns/client-side-discovery.html">Client-side discovery</a></li>
  <li><a href="/patterns/server-side-discovery.html">Server-side discovery</a></li>
  <li><a href="/patterns/service-registry.html">Service registry</a></li>
  <li><a href="/patterns/self-registration.html">Self registration</a></li>
  <li><a href="/patterns/3rd-party-registration.html">3rd party registration</a></li>
  <li><a href="/patterns/deployment/multiple-services-per-host.html">Multiple service instances per host</a></li>
  <li><a href="/patterns/deployment/single-service-per-host.html">Single service instance per host</a></li>
  <li><a href="/patterns/deployment/service-per-vm.html">Service instance per VM</a></li>
  <li><a href="/patterns/deployment/service-per-container.html">Service instance per Container</a></li>
</ul>

<p>Join the <a href="https://groups.google.com/forum/#!forum/microservices">microservices google group</a></p>

<div class="bg-info well well-lg" style="width:80%;">
  <h2>Got a question? Need training?</h2> <a class="btn btn-primary" href="http://www.chrisrichardson.net/microserviceslanding.html">Contact me</a>
</div>
